{{#if isShowUsers}}
    <div local-class="user-list">
        <ul>
            {{#each model as |item|}}
                <li {{action 'getUserInfo' item}}>{{item.id}} - {{item.login}}</li>
            {{/each}}
        </ul>
    </div>
{{else}}
    <p>
        <button type="button" name="button" {{action 'showUsers'}}>显示用户列表</button>
    </p>
    <div local-class="user-info">
        <table>
            <tr>
                <td>Name: {{selectUser.login}}</td>
                <td>
                    Icon：
                    <img src="{{selectUser.avatar_url}}" class="img-circle" alt="" width="200" height="200">
                </td>
            </tr>
        </table>
    </div>
{{/if}}

{{yield}}
