
{{#max-demo-content stats as |api|}}
<div class="">
    <ul>
        <li class="{{api.firstStep}}">第一</li>
        <li class="{{api.secondStep}}">第二</li>
        <li class="{{api.thirdStep}}">第三</li>
        <li class="{{api.fourthStep}}">第四</li>
    </ul>
</div>
{{/max-demo-content}}
{{outlet}}
